
# ==============================================================

=DBbegin:Animal

pannel=.nav-tabs > li:nth-child(1) > a:nth-child(1)

db_COX1=table.table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > input:nth-child(1)

db_COX1_SPECIES=table.table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > input:nth-child(1)

db_COX1_SPECIES_PUBLIC=table.table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) > input:nth-child(1)

db_COX1_L640bp=table.table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > input:nth-child(1)

textarea=textarea.form-control:nth-child(6)

submit_button=#submitAnimal

=DBend:Animal

# --------------------

=DBbegin:Fungi

pannel=.nav-tabs > li:nth-child(2) > a:nth-child(1)

db_ITS=#fungiForm > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > input:nth-child(1)

textarea=#fungiForm > textarea:nth-child(5)

submit_button=#submitFungal

=DBend:Fungi

# --------------------

=DBbegin:Plant

pannel=.nav-tabs > li:nth-child(3) > a:nth-child(1)

db_Plant=#plantForm > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > input:nth-child(1)

textarea=#plantForm > textarea:nth-child(5)

submit_button=#submitPlant

=DBend:Plant


# ==============================================================

=RESULT_begin:Animal

Header_COX1=.taxonHeader > td:nth-child(1) > strong:nth-child(1)
Header_COX1_SPECIES=.taxonHeader > td:nth-child(1) > h6:nth-child(1) > strong:nth-child(1)
Header_COX1_SPECIES_PUBLIC=.taxonHeader > td:nth-child(1) > h6:nth-child(1) > strong:nth-child(1)
Header_COX1_L640bp=.taxonHeader > td:nth-child(1) > h6:nth-child(1) > strong:nth-child(1)

Phylum=tr.evenRow:nth-child({0}) > td:nth-child(1)
# tr.evenRow:nth-child(2) > td:nth-child(1)
# tr.oddRow:nth-child(3) > td:nth-child(1)
Class=tr.evenRow:nth-child({0}) > td:nth-child(2)
Order=tr.evenRow:nth-child({0}) > td:nth-child(3)
Family=tr.evenRow:nth-child({0}) > td:nth-child(4)
Genus=tr.evenRow:nth-child({0}) > td:nth-child(5)
Species=tr.evenRow:nth-child({0}) > td:nth-child(6)
Subspecies=tr.evenRow:nth-child({0}) > td:nth-child(7)
Similarity=tr.evenRow:nth-child({0}) > td:nth-child(8)
Status=tr.evenRow:nth-child({0}) > td:nth-child(9)

=RESULT_end:Animal

# --------------------

=RESULT_begin:Fungi
Header_ITS=.taxonHeader > td:nth-child(1) > h6:nth-child(1) > strong:nth-child(1)

Phylum=tr.evenRow:nth-child({0}) > td:nth-child(2)
Class=tr.evenRow:nth-child({0}) > td:nth-child(3)
Order=tr.evenRow:nth-child({0}) > td:nth-child(4)
Family=tr.evenRow:nth-child({0}) > td:nth-child(5)
Genus=tr.evenRow:nth-child({0}) > td:nth-child(6)
Species=tr.evenRow:nth-child({0}) > td:nth-child(7)
Subspecies=tr.evenRow:nth-child({0}) > td:nth-child(8)
Score=tr.evenRow:nth-child({0}) > td:nth-child(9)
Similarity=tr.evenRow:nth-child({0}) > td:nth-child(10)
E-Value=tr.evenRow:nth-child({0}) > td:nth-child(11)
Status=tr.evenRow:nth-child({0}) > td:nth-child(12)
=RESULT_end:Animal

# --------------------

=RESULT_begin:Plant
Header_Plant=.taxonHeader > td:nth-child(1) > h6:nth-child(1) > strong:nth-child(1)

Phylum=tr.evenRow:nth-child({0}) > td:nth-child(2)
# tr.evenRow:nth-child(2) > td:nth-child(2)
# tr.oddRow:nth-child(3) > td:nth-child(2)
Class=tr.evenRow:nth-child({0}) > td:nth-child(3)
Order=tr.evenRow:nth-child({0}) > td:nth-child(4)
Family=tr.evenRow:nth-child({0}) > td:nth-child(5)
Genus=tr.evenRow:nth-child({0}) > td:nth-child(6)
Species=tr.evenRow:nth-child({0}) > td:nth-child(7)
Subspecies=tr.evenRow:nth-child({0}) > td:nth-child(8)
Score=tr.evenRow:nth-child({0}) > td:nth-child(9)
Similarity=tr.evenRow:nth-child({0}) > td:nth-child(10)
E-Value=tr.evenRow:nth-child({0}) > td:nth-child(11)
Status=tr.evenRow:nth-child({0}) > td:nth-child(12)
=RESULT_end:Plant

# ==============================================================